# PYTHON PROGRAMMING LANGUAGE

QUE.1 WAPP TO INPUT YOUR FIRST NAME AND LAST NAME AND PRINT THE FULL NAME IN A SINGLE LINE.

In [2]:
firstname=input('enter the first name')
lastname=input('enter the last name ')
print(firstname,end='  ' )
print(lastname )

enter the first nameankita
enter the last name singh
ankita  singh

QUE.2 WAPP TO INPUT TWO NUMBERS AND PRINT THEIR SUM

In [1]:
a=input('enter the first number')
b=input('enter the second number')
a=int(a)
b=int(b)
print(a+b)

enter the first number12
enter the second number21
33

QUE.3 WAPP TO PRINT YOUR NAME IN THE REVERSE ORDER

In [5]:
name=input('enter your name')
print(name[::-1])

enter your nameankita
atikna

QUE.4 WAPP TO EXTRACT THE 'x'FROM THE GIVEN LIST 
(1) l= [12,15.6,'cat','x-mas']
(2) l2=[13,17.2,[12,15.6,'cat','x-mas'],(1,2,3)]

In [9]:
l1=[12,15.6,'cat','x-mas']
l1[3]
l1[3][0]

'x'

In [10]:
l2=[13,17.2,[12,15.6,'cat','x-mas'],(1,2,3)]
l2[2]
l2[2][3]
l2[2][3][0]

'x'

In [11]:
l3=[27,14,['ankita','param',143],(7,8,9)]
l3[2]
l3[2][1]

'param'

QUE.5 WAPP TO INPUT TWO NUMBERS AND PRINT THEIR SUM (int and float)

In [2]:
a=input(' enter first number')
b=input('enter second number')
a=int(a)
b=int(b)
print(a+b)

 enter first number10
enter second number20
30

In [4]:
x=float(input('enter first number'))
y=float(input('enter second number'))
print(x+y)

enter first number9
enter second number9
18.0

QUE.6 WAPP TO INPUT YOUR FIRSTNAME AND LASTNAME AND PRINT THE FULL NAME IN FOLLOWING CASE 'firstname lastname'

In [5]:
firstname=input('enter the firstname')
lastname=input('enter the lastname')
print(firstname.capitalize(),end=' ')
print(lastname.capitalize())

enter the firstnameankita
enter the lastnamesingh
Ankita Singh

In [8]:
firstname=input('enter the firstname').strip().capitalize()
lastname=input('enter the lastname').strip().capitalize()
print(firstname.capitalize(),end=' ')
print(lastname.capitalize())

enter the firstname     ankita
enter the lastnamesingh
Ankita Singh

QUE.7 WAPP TO INPUT YOUR NAME,BRANCH,ROLL,SECTION AND EDUCATION IN THE FOLLOWING ORDER (My name is-----,branch is----,roll----section is ----and education is------

In [13]:
name=input('My name is:')
branch=input('branch is:')
roll=input('roll is:')
section=input('section is:')
education=('education is:')
print('My name is',name,'branch is',branch,'roll is',roll,'section is',section,'education is',education,)

My name is:Ankita Singh
branch is:Computer Science Engineering
roll is:26
section is:A
My name is Ankita Singh branch is Computer Science Engineering roll is 26 section is A education is education is:

QUE.8 WAPP TO DO DIFFERENT  SLICING FROM THE STRING
(a)d= 'astronomy'

In [16]:
d='astronomy'
d[4:7]

'ono'

In [17]:
d='astronomy'
d[5:]

'nomy'

In [24]:
d='astronomy'
d[start : stop+1 :step]=>d[0:5+1:3]

SyntaxError: invalid syntax (<ipython-input-24-c318ef320f6c>, line 2)